* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
}

/*.app {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}*/

/*.home {
	width: 100%;
	max-width: 400px;
	padding: 50px 30px;
	background-color: #ffffff;
	border-radius: 16px;
	text-align: center;
}*/

form {
	display: block;
	width: 100%;
	max-width: 400px;
	padding: 80px 50px;
	background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('/images/loginform.jpg');
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
	border-radius: 16px;
	margin-top: 0px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

form h1 {
	color: #a75e8b;
	font-size: 36px;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: bold;
	font-family: berlin sans fb;
}

form .form-group {
	margin-bottom: 40px;
}

form label {
	display: block;
	color: #a75e8b;
	font-size: 20px;
	margin-bottom: 0px;
	text-align: left;
	font-family: mv boli;
	font-weight: bold;
}

form input {
	appearance: none;
	background: none;
	outline: none;
	border: none;
	font-family: comic sans ms;
}

form input:not([type="submit"]) {
	display: block;
	width: 100%;
	padding: 15px;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	transition: 0.4s;
	color: #222;
	font-size: 18px;
	font-weight: 300;
}

form input:not([type="submit"])::placeholder {
	color: white;
}

form input:not([type="submit"]):focus,
form input:not([type="submit"]):valid {
	background-color: #fff;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}


form input[type="submit"] {
	display: block;
	width: 30%;
	padding: 10px;
	border-radius: 8px;
	background-color: #cde3b5;
	background-image: linear-gradient(to bottom, #cde3b5 10%, #a9c58b);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	transition: 0.4s;
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
	text-align: center;
	display: inline-block;
	font-family: comic sans ms;

}

form input[type="reset"] {
	display: block;
	width: 30%;
	padding: 10px;
	border-radius: 8px;
	background-color: #e99e96;
	background-image: linear-gradient(to bottom, #e99e96 10%, #bb5555);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	transition: 0.4s;
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
	text-align: center;
	display: inline-block;
	font-family: comic sans ms;

}