<%- include('../_partial/_navbarAdminPanel'); -%>

<html>
    <head>
    <style>

        div.content {
          margin-left: 200px;
          padding: 1px 16px;
          height: 1000px;
        }
        
    </style>
    </head>

<body>
        <br><br><br><br>
    <div class="content">
      <h2>Welcome</h2>

    </div>

</body>
</html>



<%- include ('../_partial/_footer'); -%> 













