<%- include('../_partial/_navbarAdminPanel'); -%>

  <html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('/images/adminback.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }

      div.content {
        margin-left: 30%;
        margin-top: 5%;
        height: 100%;
      }
    </style>
  </head>

  <body>
    <br><br><br><br><br> <br><br><br>


    <div class="content">

      <h2>Today's Date: </h2>
      <h1 id="todaydate"></h1>

      <br><br>
      
      <h2>Today's Number Of Appointments: </h2>
      <%_ appointments.forEach((row, index)=> { _%>
        <h1>
          <%= row.appointmentID %>
        </h1>

        <% }) %>

    </div>
    <script>
      var today = new Date();
      var dd = String(today.getDate()).padStart(2, '0');
      var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!    
      var yyyy = today.getFullYear();
      today = yyyy + '-' + mm + '-' + dd;
      document.getElementById("todaydate").innerText = today
    </script>

  </body>

  </html>