<%- include('../_partial/_navbarAdminPanel'); -%>

  <html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      div.content {
        margin-left: 200px;
        padding: 1px 16px;
        height: 1000px;
      }
    </style>
  </head>

  <body>
    <br><br><br><br><br> <br><br><br>
    <div class="content">
      <h2>Welcome</h2>

    </div>

  </body>

  </html>