<html>

<head>

  <style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      padding: 50px;
    }
  </style>
</head>

<body>
  <footer>
    <p
      style="font-size: 20px ; text-align: center; padding: 50px; background-color: #9877ae; color: white; font-family: Arial, Helvetica, sans-serif;">
      Lil Paws - Vet Clinic<br>
      <a style="color: white; font-family: Arial, Helvetica, sans-serif; text-decoration: none;"
        href="mailto:hege@example.com">info@lilpaws.lk</a> <br>
      <a style="color: white; font-family: Arial, Helvetica, sans-serif; text-decoration: none;" href="tel:#">+94 11 7
        400 400 or +94 777 740 750</a>
    </p>
  </footer>
</body>

</html>