<html>

<head>

  <style>
    .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

  </style>
</head>

<body>
  <footer>
    <p style="text-align: center; padding: 10px; background-color: #9877ae; color: white; font-family: Arial, Helvetica, sans-serif;">Lil Paws - Vet Clinic<br>
      <a style="color: white; font-family: Arial, Helvetica, sans-serif;" href="mailto:hege@example.com">info@lilpaws.lk</a>
    </p>
  </footer>
</body>

</html>