<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Lil Paws</title>



  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    .upheader {
      overflow: hidden;
      background-color: #212020;
      padding: 20px 50px;
      position: fixed;
      width: 100%;
      z-index: 1;
      font-family: kristen itc;
    }

    .upheader a {
      float: left;
      color: rgb(255, 255, 255);
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 18px;
      line-height: 25px;
      border-radius: 4px;
    }

    .upheader a.logo {
      font-size: 25px;
      font-weight: bold;
      font-family: ravie;
    }

    .upheader a.logo:hover {
      background-color: #212020;
      color: white;
    }

    .upheader a.welcome:hover {
      background-color: #212020;
      color: white;
    }

    .upheader a:hover {
      background-color: #d4b4ea;
      color: black;
    }

    .upheader a.active {
      background-color: dodgerblue;
      color: white;
    }

    .upheader-right {
      float: right;
    }

    @media screen and (max-width: 500px) {
      .upheader a {
        float: none;
        display: block;
        text-align: left;
      }

      .upheader-right {
        float: none;
      }
    }

    .sidebar {
      margin: 0;
      padding: 0;
      width: 190px;
      background-color: #f1f1f1;
      position: fixed;
      height: 100%;
      overflow: auto;
      margin-top: 87px;
      font-family: kristen itc;
    }

    .sidebar a {
      display: block;
      color: black;
      padding: 16px;
      text-decoration: none;
    }

    .sidebar a.active {
      background-color: #8f69a9;
      color: white;
    }

    .sidebar a:hover:not(.active) {
      background-color: purple;
      color: white;
    }

    div.content {
      margin-left: 200px;
      padding: 1px 16px;
      height: 1000px;
    }

    @media screen and (max-width: 700px) {
      .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }

      .sidebar a {
        float: left;
      }

      div.content {
        margin-left: 0;
      }
    }

    @media screen and (max-width: 400px) {
      .sidebar a {
        text-align: center;
        float: none;
      }
    }
  </style>
</head>

<body>
  <div class="upheader">
    <a href="#" class="logo">Lil Paws</a>
    <div class="upheader-right">
      <a href="#" class="welcome">Welcome Admin!</a>
      <a style="font-weight: bold;  margin-left: 50px;"  href="/logout">Log Out</a>
    </div>
  </div>

  <div class="sidebar">
    <a class="active" href="/dashboard">Dashboard</a>
    <a href="/appointmentsAdmin">Appointments</a>
    <a href="/inquiriesAdmin">Inquiries</a>
    <a href="/servicesAdmin">Services</a>
  </div>

</body>

</html>


<% if(error && error.length> 0) { %>
  <div class="alert alert-danger" role="alert">
    <%= error %>
  </div>
  <% } %>

    <% if(info && info.length> 0) { %>
      <div class="alert alert-info" role="alert">
        <%= info %>
      </div>
      <% } %>

        <% if(success && success.length> 0) { %>
          <div class="alert alert-success" role="alert">
            <%= success %>
          </div>
          <% } %>