<%- include('../_partial/_header'); -%>
<br><br><br><br><br>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
                background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/images/aboutback.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;

            }
        </style>
    </head>
    <body>

    </body>
</html>
<br><br><br><br><br>
<%- include ('../_partial/_footer'); -%>